@inherits LayoutComponentBase

<div class="w-screen flex-col flex h-full absolute top-0 bg-gradient-to-br bg-neutral-100">
    <NavMenu />

    <main class="h-full">

        <article class="h-full font-[Poppins]">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>

</div>