@page "/details"

<PageTitle>Details</PageTitle>

<div class="relative w-full tracking-wide flex justify-center items-center min-h-120 text-neutral-200">
    <div class="absolute inset-0 bg-[url('/Polina_Chistyakova_2.jpg')] lg:bg-cover bg-size-[1200px] bg-no-repeat bg-center contrast-90 brightness-60 saturate-140"></div>
    <div class="2xl:flex-6 flex-1 w-full h-full flex-col gap-7 justify-center items-center py-16 bg-white">
        <div class="relative flex flex-col items-center gap-1 justify-center w-full px-5 py-2">
            <h2 class="2xl:text-md w-fit">The details and origin of</h2>
            <h1 class="text-4xl font-semibold tracking-wider mb-5 text-center w-fit">MoodDiary</h1>
            <p class="sm:text-md text-sm mb-5 2xl:w-[80%] w-[85%] sm:text-center inline">
                MoodDiary is an IS school project for computer innovations class made by Grade 11 students from Bunyawat
                Witthayalai School in Thailand. We made it to solve the current situations for decreasing self emotion
                understanding.
                We hope this application can help people understand themself more. Thank you for professors, all the support
                from our heart Polina Chistyakova, Lisa from Pexels, Bas Linders, Hector Portillo for image sources.
            </p>
            <p class="font-medium text-md w-[80%] 2xl:text-right text-center">by Development team</p>
        </div>
    </div>
</div>
<div class="text-black flex lg:flex-row flex-col w-[85%] mx-auto lg:h-100 h-100">
    <div class="bg-cover bg-center flex-1 h-full flex flex-col items-center gap-1 justify-start lg:mt-20 mt-10">
        <h1 class="sm:text-3xl text-xl font-semibold tracking-wider mb-5 text-center">Benefit from using</h1>
        <p class="sm:text-md text-sm lg:w-[90%] w-[100%] text-center inline">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
        </p>
    </div>
    <div class="bg-cover bg-center flex-1 h-full flex flex-col items-center gap-1 justify-start lg:mt-20 mt-10">
        <h1 class="sm:text-3xl text-xl font-semibold tracking-wider mb-5 text-center">Emotions Diary</h1>
        <p class="sm:text-md text-sm lg:w-[90%] w-[100%] text-center inline">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
        </p>
    </div>
</div>