@page "/support"
@layout BackgroundLayout

<PageTitle>Support</PageTitle>

<div class="w-full h-full md:bg-[#80AC33] bg-white flex flex-col items-center">
    <div class="flex flex-col items-center gap-5 md:mt-50 bg-white md:shadow-2xl rounded-2xl py-12 px-12">
        <div class="flex flex-col items-start justify-center">
            <p class="text-sm text-neutral-500">Support the developers</p>
            <h3 class="text-2xl">Donation 🙏🙏</h3>
            <div class="mt-5 w-full flex items-center lg:flex-row flex-col justify-center gap-8">
                <img src="/next.jpg" alt="next payment" class="w-60">
                <img src="/true.jpg" alt="true payment" class="w-60">
            </div>
        </div>
    </div>
</div>
